body {
  font-family: 'Roboto';
  font-size: 16px;
}

.box {
  border-collapse: collapse;
  width: 100%;
}

.statusBar {
  background-color: #284170;
  height: 24px;
  width: 360px;
}

img.icons.battery {
  height: 15px;
  left: 300px;
  position:absolute;
  top: 5px;
  width: 8px;
}

img.icons.wifi {
  height: 15px;
  left: 270px;
  position:absolute;
  top: 5px;
  width: 20px;
}

img.icons_2.more {
  height: 18px;
  left: 340px;
  position:absolute;
  top: 45px;
  width: 5px;
}

img.icons_2.search {
  height: 18px;
  left: 310px;
  position:absolute;
  top: 45px;
  width: 18px;
}

img.icons_2.menu {
  left: 20px;
  height: 13px;
  position:absolute;
  top: 50px;
  width: 18px;
}

h3 {
  color: white;
  font-size: 17px;
  text-align: left;
  padding-top: 23px;
  padding-left: 55px;
}

.time {
  color: white;
  padding: 4px;
  text-align: right;
}

.appBar {
  background-color: #385999;
  height: 64px;
  width: 360px;
}

td, th {
  padding: 8px;
  text-align: left;
}

tr.info:hover {
  background-color: #FEF154;
}

th {
  border-bottom: 1px solid #E2E2E2;
  font-weight: bold;
}

caption {
  font-size: 18px;
  letter-spacing: 1px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-top: 5px;
  text-align: left;
}

caption.normal {
  background-color: #0069D8;
  color: #FFFFFF;
}

caption.reroute {
  background-color: #FC4141;
  color: #FFFFFF;
}

caption.out {
  background-color: #CDCCCC;
}

section {
  box-shadow: 0px 2px 8px #A9A9A9;
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 25px;
  margin-left: 5px;
  margin-right: 5px;
}
